<%- include('./partials/head') %>

<body>

  <article class="business-card">
    <main>
      <h1> <%= member.name %> <%= member.surname %> </h1>
      <p> <%= member.bio.html %> </p>
      <img src="<%= member.avatar %>" alt="Creative Coder">
      <div class="line"></div>
    </main>
  </article>
  <script src="scripts/script.js"></script>
</body>

<%- include('./partials/foot') %>
